<aside>
  <ul>
    <li><a href="/all_materials/CJ"> Český jazyk</a> </li>
    <li><a href="/all_materials/PV">Programování</a></li>
    <li><a href="/all_materials/M">Matematika</a></li>
    <li><a href="/all_materials/PSS">Počítačové systémy a sítě</a></li>
    <li><a href="/all_materials/WA">Webové aplikace</a></li>
    <li><a href="/all_materials/DS">Databázové systémy</a></li>
  </ul>
</aside>
