<aside>
  <ul>
    <li><a href="/all_materials"> Český jazyk</a> </li>
    <li><a href="/all_materials">Programování</a></li>
    <li><a href="/all_materials">Matematika</a></li>
    <li><a href="/all_materials">Počítačové systémy a sítě</a></li>
    <li><a href="/all_materials">Webové aplikace</a></li>
  </ul>
</aside>
