<html>
  {% include "html/head.html.twig" %}
  <body>
    {% include "html/menu.html.twig" %}
  <div class="whole_consent_container">
    <div class="consent_container">
      <h1>Prohlášení o přístupnosti</h1>
      <p>Tým Cats se zavazuje ke zpřístupnění obsahu svých internetových stránek v souladu se zákonem č. 99/2019 Sb., o přístupnosti internetových stránek a mobilních aplikací a o změně zákona č. 365/2000 Sb., o informačních systémech veřejné správy a o změně některých dalších zákonů, ve znění pozdějších předpisů, které provádějí směrnici Evropského parlamentu a Rady (EU) 2016/2102.</p>
      <p>Toto prohlášení o přístupnosti se vztahuje na internetové stránky https://maty.vardump.eu/.</p>
      
      <h2>Stav souladu</h2> 
      
      <p>Tyto webové stránky jsou <b>částečně v souladu</b> se zákonem č. 99/2019 Sb., ve znění pozdějších předpisů, z důvodu nesouladu nebo výjimek uvedených níže.</p>
      
      <h2>Nepřístupný obsah</h2> 
      
      <p>Níže uvedený obsah není přístupný:</p> 

      <p class="list_header">1. z důvodu nesouladu se zákonem č. 99/2019 Sb., ve znění pozdějších předpisů;</p>
      <ul>
        <li>Odkazy na náhledových fotografiích ve fotogaleriích nemají textový popis, protože obrázky nemají uvedený alternativní text (kritéria 1.1.1 a 2.4.4 standardu WCAG 2.1). Vzhledem k množství fotografií a kapacitám provozovatele webu by doplnění smysluplného alternativní text ke všem fotografiím způsobilo nepřiměřenou zátěž (podle § 7 zákona)</li>
      </ul>
      <p class="list_header">2. jelikož nespadá do oblasti působnosti platných právních předpisů; </p>
      <ul>
        <li>Videa na internetových stránkách neobsahují ani titulky ani audio popis či alternativu (kritéria 1.2.1 a 1.2.2 standardu WCAG 2.1),na základě výjimky podle § 13 odstavce 4 zákona č. 99/2019 Sb.</li>
      </ul>

      <h2>Vypracování tohoto prohlášení o přístupnosti </h2>
      <p>Toto prohlášení bylo vypracováno dne 23.2.2023. </p>
      
      <p>Prohlášení bylo vypracováno posouzením provedeným třetí stranou – zpracovatelem těchto internetových stránek Matyášem Lorenzem. Při posuzování se sledovala shoda s kritérii uvedenými v Metodickém pokynu k zákonu č. 99/2019 Sb., ve znění pozdějších předpisů a standardu Web Content Accessibility Guidelines – WCAG 2.1. </p>
      
      <h2>Zpětná vazba a kontaktní údaje</h2>

      <p>Vaše náměty či informace o problémech při zobrazování stránek, stejně jako dotazy, návrhy nebo připomínky týkající se obsahu webu či důvodného podezření, že webová stránka nesplňuje požadavky zákona č. 99/2019 Sb., ve znění pozdějších předpisů, včetně možnosti podat podnět vůči příslušným státním orgánům, můžete psát na adresu: podpora@spsejecna.cz</p> 
      
      <p>Kontakt na osobu odpovědnou za přístupnost stránek a za zpracování žádostí zaslaných prostřednictvím mechanismu zpětné vazby: </p>
      <p>
      SPŠE Ječná<br>
      Ječná 30, Praha 2<br>
      email: podpora@spsejecna.cz 
      </p>
      
      <h2>Postup pro prosazování práva</h2>
      
      <p>V případě neuspokojivé odpovědi na zpětnou vazbu dle předchozího odstavce, můžete kontaktovat příslušný orgán pro prosazování práva: </p>
      <p>
      Ministerstvo vnitra, odbor eGovernmentu<br>
      náměstí Hrdinů 1634/3, 140 21 Praha 4<br>
      email: pristupnost@mvcr.cz<br>
      </p>
      <p>Vzor prohlášení o přístupnosti a nápovědu k jeho vyplnění poskytuje také např. Ministerstvo vnitra.</p>
      
      <br><br><br>
    </div>
  </div>
  </body>
  {% include "html/footer.html.twig" %}
</html>
