<footer> 
   <p>© SPŠE Ječná</p>
  <a class="--text_decoration" href="/consent">Prohlášení</a>
   <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
      <img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" />
   </a>
   <p>Tato díla podléhají licenci:</p>
   <a class="--text_decoration" rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Uveďte původ-Neužívejte komerčně 4.0 Mezinárodní License</a>.
</footer>