<!DOCTYPE html>
<html lang="en">
  {% include "html/head.html.twig" %}
  <body>
    {% include "html/menu_not_logged.html.twig" %}
    <main>
      <div class="container login">
        <div class="login_body">
        <h1>Přihlášení</h1>
          <div class="container_login">

            {{ form_start(LoginForm) }}
            {{ form_widget(LoginForm) }}
            {% if error %}
                <div class="error_mess" id="login_error_mess"> {{error}}</div>
                {% endif %}
            <div class="container_login_info">
              
              <a> Zapomněli jste heslo? </a> <br />
              <button type="submit" class="button">Přihlásit!</button>
            </div>
            {{ form_end(LoginForm) }}
          </div>
        </div>
      </div>
    </main>
    {% include "html/footer.html.twig" %}
  </body>
</html>
