<!DOCTYPE html>
<html lang="en">
  {% include "html/head.html.twig" %}
  <body>
    {% include "html/menu_not_logged.html.twig" %}
    <main>
      {% if error %}
      {{error}}
    {% endif %}
      <div class="container login">
        <div class="container_login">
          {{ form_start(LoginForm) }}
          {{ form_widget(LoginForm) }}
          <div class="container_login_info">
            <a> Zapomněli jste heslo? </a> <br />
            <button type="submit" class="button">Přihlásit!</button>
          </div>
          {{ form_end(LoginForm) }}
        </div>
      </div>
    </main>
  </body>
</html>
