<html> 
{% include "html/head.html.twig" %}
<p>Vložte materiál</p>
{{ form_start(materialForm) }}
{{ form_widget(materialForm) }}
<button type="submit" class="button">Přidat!</button>
{{ form_end(materialForm) }}
</html>