<nav>
  <a href="/"><img style="height:65px;" alt="logo of our page small panda" src="logo/Logo.png" /></a>
  <h1 class="nav_not-logged_heading">Projekt Pandík</h1>
  <div class="nav_not-logged_link-container --text_decoration">
    <p><a style="padding-left: 0.5rem" href="/login"> Přihlášení </a></p>
    <p><a style="padding-left: 0.5rem" href="/register"> Registrace </a></p>
    <p><a style="padding-left: 0.5rem" href="/contact"> Kontakt </a></p>
  </div>
</nav>
