<nav>
  <img alt="logo of our page small panda" src="logo/logo.png" />
  <p><a style="padding-left: 0.5rem" href="/login"> Přihlášení </a></p>
  <p><a style="padding-left: 0.5rem" href="/register"> Registrace </a></p>
  <p><a style="padding-left: 0.5rem" href="/contact"> Kontakt </a></p>
</nav>
