<nav>
   <p><a style="padding-left:0.5rem" href="/homepage"> Domů</a></p>
   <p><a style="padding-left:0.5rem" href="/help"> Nápověda </a></p>
   <p><a style="padding-left:0.5rem" href="/contact"> Kontakt </a></p>
   <p><a style="padding-left:0.5rem" href="/material"> Přidat materiál </a></p>
   <p style="margin-left:auto;">
      <a style="padding-left:0.5rem" href="/profile"> Profil</a> 
      <a style="padding-left:0.5rem;" href="/logout"> Odhlášení </a>
      <a style="padding-left:0.5rem" href="/settings"> Nastavení </a>
   </p>
</nav>
