<nav class="--text_decoration">
  <a style="padding-left: 0.5rem" href="/homepage"><img style="height:65px; padding-right:1rem;" alt="logo of our page small panda" src="/logo/Logo.png" /></a>
  <p><a style="padding-left: 0.5rem" href="/help"> Nápověda </a></p>
  
  <p><a style="padding-left: 0.5rem" href="/material"> Přidat materiál </a></p>
  <p><a style="padding-left: 0.5rem" href="/consent">Prohlášení</a></p>
  <p style="margin-left: auto">
    <a style="padding-left: 0.5rem" href="/profile"> Profil</a>
    <a style="padding-left: 0.5rem" href="/contact"> Kontakt </a>
    <a style="padding-left: 0.5rem" href="/logout"> Odhlášení </a>
  </p>
</nav>
