<nav>
   <p><a style="padding-left:0.5rem" href="/profile"> Profil</a></p>
   <p><a style="padding-left:0.5rem" href="/settings"> Nastavení </a></p>
   <p><a style="padding-left:0.5rem" href="/contact"> Kontakt </a></p>
   <p><a style="padding-left:0.5rem" href="/help"> Nápověda </a></p>
   <p style="margin-left:auto;"><a style="padding:0 0.5rem;" href="/logout"> Odhlášení </a></p>
</nav>
