<!DOCTYPE html>
<html lang="en">
  {% include "html/head.html.twig" %}
  <body>
    {% include "html/menu_not_logged.html.twig" %}
    <main>
      <div class="container login">
        <div class="login_body">
        <h1>Zapomenuté heslo?</h1>
          <div class="container_login">

            {{ form_start(ResetForm) }}
            {{ form_widget(ResetForm) }}
            <div class="container_login_info">
              <br><br>
              <button type="submit" class="button">Resetovat!</button>
            </div>
            {{ form_end(ResetForm) }}
          </div>
        </div>
      </div>
    </main>
    {% include "html/footer.html.twig" %}
  </body>
</html>
