<!DOCTYPE html>
<html lang="en">
  {% include "html/head.html.twig" %} 
  {% include "html/menu.html.twig" %}
  <body>
    <h1 id="profile_name">{{ profile_name }}</h1>
    <p id="profile_email">{{ profile_email }}</p>
    <p id="profile_desc">{{ profile_desc }}</p>
  </body>
</html>
