Předmět : {{ material.getSchoolSubject() }}<br />
Obsah: {{ material.getContent() }}<br />
Autor: {{ material.getUser().getUsername() }}<br />
Datum: {{ material.getDate() }} <br />
<br />

<a href="/homepage"> <button> Domů </button> </a>