<!DOCTYPE html>
<html lang="en">
  {% include "html/head.html.twig" %}
  <body>
    <nav>
      <div class="icon">LogOwO</div>
      <h1>Projekt pandík</h1>
    </nav>
    <div class="">
      <a href="/login">Login</a>
      <a href="/register">Registrace</a>
      <a href="/contact"> Kontakt </a>
    </div>
  </body>
</html>