.container {
   &_edit-material {

      button {
         margin:auto;
         
      }
      #back {

         button {
            margin-top:3rem;
            cursor:pointer;
            margin-left: 1rem;
         }
      }
   }
}