@use 'variables';



.container {
   &_short-info {
      padding-left:2rem;
      h1{
         font-size: 2.5rem;
      }
      a{
         font-size: 1.2rem;
         border: 1px solid black;
         border-radius: 5px;
         padding:5px;
         background-color: variables.$secondary-color;
      }
   }
}