@use "variables";
.login {
   
   height:calc(100vh - 66px);
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items:center;
   background-image: linear-gradient(to bottom left, variables.$secondary-color, variables.$terciary-color);
}

h1{
   font-weight: 100;
   text-align: center;
}

#login_error_mess{
   margin-bottom: 2vh;
   margin-top: 0;
   padding-right:1rem;
}

#login_form, #register_form, [name = "register_form"], [name = "password_reset"] {

   div {
      display:flex;
      justify-content: space-between;
      margin:1rem;
   }

   input {
      height:35px;
      width:270px;
   }
   
   label {
      margin-top:0.5rem;
      padding-right:2rem;
   }

}

#register_button{
   margin-top: 40px;
   margin-right: 0;
}


[name = "login_form"] {
   a {
      float:right;
      margin-right:1rem;
      margin-bottom: 4vh;
      color: rgb(80, 80, 255);
   }
}
.container_login {
   
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 25px 20px 25px 20px;
   height: 38vh;
   width: 65vh;
   border-radius: 7px;
   border: 3px solid rgba($color: #ffffff, $alpha: 0.5);
   background-color: rgba(variables.$primary-color,0.10);
}


.container_login_info {
   display:flex;
   flex-direction: column;
   align-items:end;


   button {
      margin-right:1rem;
   }
}