// profile.scss
@use 'variables';
.container {

   &_profile-card {
      width: 70%;
      margin:2.5rem auto 0;
      border:1px solid black;
      border-radius: 7px;


      &_header {
         display:flex;
         
         h1 {
            padding-left:2rem;
            padding-top:1rem;
            
         }
         a {
            padding-top:2rem;
            padding-right:1rem;
         }

         a, button {
            margin-left:auto;
         }

         button {
            width:125px;
            height:40px;
            background-color:variables.$primary-color;
            color: variables.$terciary-color;
            border:solid 1px black;
            border-radius: 5px;
            font-size:1.25rem;
         }
      }
   }
}
