// profile.scss
@use 'variables';
.container {

   &_profile {
      &_materials {
         padding-top: 1vh;
         margin-left:2rem;
   
         &_single-material {
            margin:1.5rem 10rem 1.5rem 5rem;
            border:1px solid black;
         }
      }
   }

   &_profile-card {
      width: 70%;
      margin:2.5rem auto 0;
      border:1px solid black;
      border-radius: 7px;


      &_header {
         display:flex;
         background-color: variables.$secondary-color;
         border-bottom: 1px solid black;
         h1 {
            padding-left:2rem;
            padding-top:1rem;
            
         }
         a {
            padding-top:2rem;
            padding-right:1rem;
         }

         a, button {
            margin-left:auto;
         }
      }
   }
}
