@use "variables";

.container_welcome {
   background-image: linear-gradient(to bottom left, variables.$secondary-color, variables.$terciary-color);
   &_info {
      font-size:1.5rem;
      min-height: 50vh;
      padding-inline: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: left;
   }
   &_hero{
      min-height: 90vh;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding-inline:3rem;

      img{
         border: 2px solid black;
         border-radius: 40%;
         -webkit-clip-path: circle(40% at 50% 50%);
         clip-path: circle(40% at 50% 50%)
      }
      p{
         font-size: 1.5rem;
      }
      &_heading{
         font-size: 3rem;
         margin: auto;
         text-align: left;
      }

   }
   
}